*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 60px;
    background-color:crimson;
    width: 40%;
    margin-left: 30%;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
}

.timer{
font-size: 70px;
font-weight: bolder;

}
h1 {
    font-weight: 100;
    font-size: 60px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    height: 70px;
    align-items: center;
}

button {
    height: 60px;
    width: 90px;
    font-size: 25px; 
    background-color: crimson;;
    border-radius: 5px;
    margin-bottom: 5px;
}
button:hover {
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}
.container {
    width: 100%;
    height: 80%;
    background-color: white;
    display: flex;
    flex: 0 auto;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 2px;
}

.container h2 {
    font-size: 30px;
}

.choice-container {
    display: flex;
    margin-bottom: 4px;
    margin-top: 4px;
    width: 100%;
    font-size: 1.8rem;
    border-radius: 5px;
    border: .2rem solid black;
}
.choice-container:hover {
    background-color: rgba(1, 2, 2, 0.459);
    color: whitesmoke;
    cursor: pointer;
}


.choice-prefix {
padding: .5rem 1.5rem;
background-color: rgb(201, 193, 193);
font-weight: bolder;
font-size: 30px;
align-items: center;
}
.choice-text {
    padding-left: 30px;
    padding-top: 10px;
    width: 100%;
}
