*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("https://i.natgeofe.com/k/f5b0d18e-78f4-4697-bd3f-509aaa3bf606/1900x1068_herolead_quiz_3x2.jpg");
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 60px;
    background: linear-gradient(to top left, rgb(240, 49, 49), rgb(45, 123, 197));
    width: 40%;
    opacity: .8;
    margin-left: 30%;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
}

.timer{
font-size: 70px;
display: flex;
justify-content: center;
align-items: center;
font-weight: bolder;
background: linear-gradient(to top left, rgb(240, 49, 49), rgb(45, 123, 197));

}
h1 {
    font-weight: 100;
    font-size: 60px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    height: 70px;
    align-items: center;
}

.container {
    width: 100%;
    height: 80%;
    
    border-radius: 90px;
    display: flex;
    opacity: .9;
    flex: 0 auto;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 2px;
}

.container h2 {
    font-size: 30px;
    background: linear-gradient(to top left, rgb(240, 49, 49), rgb(45, 123, 197));
}

.choice-container {
    background: linear-gradient(to top left, rgb(240, 49, 49), rgb(45, 123, 197));
    display: flex;
    margin-bottom: 4px;
    margin-top: 4px;
    width: 100%;
    font-size: 1.8rem;
    border-radius: 5px;
    border: .2rem solid black;
}
.choice-container:hover {
    background-color: rgba(1, 2, 2, 0.459);
    color: whitesmoke;
    cursor: pointer;
}


.choice-prefix {
padding: .5rem 1.5rem;
background-color: rgb(201, 193, 193);
font-weight: bolder;
font-size: 30px;
align-items: center;
}
.choice-text {
    padding-left: 30px;
    padding-top: 10px;
    width: 100%;
}

@media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 30px;
    }
  

  }
  /* media screen formatting for smaller screens */
  @media screen and (max-width: 800px) {
    h1 {
        font-size: 50px;
    }
    header h1 {
        font-size: 30px;
  }
  .timer {
    font-size: 40px;
    padding: 5px;
    margin: 5px;
  }
}