*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
   background: #000;
} 
canvas {
    display: block;
    height:100%; 
    width:100%;
}

header {
    background: linear-gradient(to top left, rgb(240, 49, 49), rgb(45, 123, 197));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 2cm;
    opacity: .9;
}

h1 {
    font-size: 80x;
    font-weight: bold;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    flex: 0 auto;
    padding: 10px;
    margin-top: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    background: linear-gradient(to top left, rgb(240, 49, 49), rgb(45, 123, 197));
    opacity: 0.9;
}

section {
    width: fit-content;
    height: fit-content;
    text-align: center;
}

button {
    font-size: 25px;
    height: 35px;  
    background-color: white;;
    border-radius: 5px;
}
button:hover {
    background-color: crimson;
    cursor: pointer;
}

div {
    border: 2px solid ;
    border-radius: 5px;
    padding: 30px;
}






@media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 70px;
      
    }

    div {
        right: 0;
        left: auto;
      }
    canvas {
        width: 100%;
        height: 100%;
    }
  

  }
  /* media screen formatting for smaller screens */
  @media screen and (max-width: 800px) {
    h1 {
        font-size: 50px;
    }
    canvas {
        width: 100%;
        height: 100%;
    }
    div {
        right: 0;
        left: auto;
      }
  }